h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
body{
    background-color: beige;
}
p{
    text-align: center;
}
.namapanjang{color: black;}
.nama{color: black;}
.tgllahir{color: black;}
.umur{color: black;}
.agama{color: black;}
.namaayah{color: black;}
.namaibu{color: black;}